
dist
.solid
.output
.vercel
.netlify
netlify
.vinxi
db

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

.env
secrets.yml
*dev.db
.direnv
docker-compose.yml
